<nav class="navbar navbar-expand-lg navbar-dark app-navbar sticky-top">
  <div class="container">
    <%= link_to root_path, class: "navbar-brand d-flex align-items-center gap-2" do %>
    <%= image_tag "framercircle-logo5.png",
            style: "width:75px",
            alt: "FramerCircle" %>
    <span class="fw-semibold">FramerCircle</span>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#appNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="appNavbar">
      <%# Left side empty (or put public links here later) %>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>

      <%# Right side: Groups / Profile / Log out %>
      <ul class="navbar-nav ms-auto align-items-lg-center gap-lg-2">
        <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Groups", groups_path, class: "nav-link" %>
        </li>

        <% if user_signed_in? && current_user.admin? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Admin
          </a>

          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="adminDropdown">
            <li><%= link_to "All Groups", admin_groups_path, class: "dropdown-item" %></li>
            <li><%= link_to "All Users", admin_users_path, class: "dropdown-item" %></li>
          </ul>
        </li>
        <% end %>

        <li class="nav-item">
          <%= link_to "Profile", account_path, class: "nav-link" %>
        </li>

        <li class="nav-item d-none d-lg-flex">
          <span class="navbar-text text-light-emphasis">
            <%= current_user.email %>
          </span>
        </li>

        <li class="nav-item">
          <%= button_to "Log out",
                  destroy_user_session_path,
                  method: :delete,
                  class: "btn btn-outline-danger btn-sm",
                  form: { class: "d-inline", data: { turbo: false } } %>
        </li>
        <% else %>
        <li class="nav-item">
          <%= link_to "Sign in", new_user_session_path, class: "btn btn-outline-light btn-sm" %>
        </li>
        <li class="nav-item">
          <%= link_to "Create account", new_user_registration_path, class: "btn btn-info btn-sm fw-semibold" %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>